# .gitignore -- List of files ignored by git
*.[oa]
*~
*.vscode
*.clang-format
vgcore*
*project 
test_project 
test_queue
test_rule
test_world
test_conflict
*.o
sdl
sdl.linux.x86-64
cinclude2dot
dot2drawio.py
animation
doc/*.aux 
doc/*.log 
doc/*.toc 
doc/*.out